<!DOCTYPE html>
<html>
  <head>
    <title>CustomerSupport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/header" %>
  <div class="container">
    <div class="row">
      <div class="pull-right">
        <% if notice && notice.present? %>
            <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert && alert.present? %>
            <p class="alert alert-danger"><%= alert %></p>
        <% end %>

      </div>
      <%= yield %>
    </div>
  </div>
  </body>
</html>
